# Data files (too large for GitHub)
data/ml-1m/*.dat
data/ml-1m/*.zip

# Saved models (large binary files)
models/

# Spark checkpoints
checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
.env

# Outputs
outputs/

# Streamlit cache
.streamlit/

# Precomputed recommendations (large Parquet files)
models/precomputed_recommendations/
